<article class="w3-card w3-padding-small">
    <link rel="stylesheet" href="https://xinetzone.github.io/w3css/4/w3.css">
    <link rel="stylesheet" href="https://xinetzone.github.io/xinet-css/tabs.css">
    <div class="tab-set w3-light-grey">
        <input checked="True" id="tab-set--${tab_set_id}-input--${tab_input_id}" name="tab-set--${tab_set_id}"
               type="radio">
        <label for="tab-set--${tab_set_id}-input--${tab_input_id}">${tab_input_name}</label>
        <div class="tab-content w3-padding">
            ${tab_content}
        </div>
        <input id="tab-set--${tab_set_id}-input--${tab_input_id2}" name="tab-set--${tab_set_id}" type="radio">
        <label for="tab-set--${tab_set_id}-input--${tab_input_id2}">${tab_input_name2}</label>
        <div class="tab-content w3-padding">
            ${tab_content2}
        </div>
    </div>
</article>